In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from time import time
from datetime import datetime, date
import os

In [2]:
os.chdir(r'N:\ALGORITHMIC MARKETING\ASSIGNMENTS\Assignment 2\Algo Marketing Assignment 2\ecommerce-behavior-data-from-multi-category-store')

In [3]:
df_nov = pd.read_csv('2019-Nov.csv')

In [4]:
df_nov.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2

In [5]:
#looking at only the cases where purchases were made
purchases = df_nov[df_nov.event_type.eq('purchase')]
purchases

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
107,2019-11-01 00:00:41 UTC,purchase,13200605,2053013557192163841,furniture.bedroom.bed,NaN,566.30,559368633,d6034fa2-41fb-4ac0-9051-55ea9fc9147a
168,2019-11-01 00:01:04 UTC,purchase,1005161,2053013555631882655,electronics.smartphone,xiaomi,211.92,513351129,e6b7ce9b-1938-4e20-976c-8b4163aea11d
707,2019-11-01 00:04:51 UTC,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,128.42,562958505,0f039697-fedc-40fa-8830-39c1a024351d
811,2019-11-01 00:05:34 UTC,purchase,26401669,2053013563651392361,NaN,lucente,109.66,541854711,c41c44d5-ef9b-41b9-9cd6-8d96dda6e927
939,2019-11-01 00:06:33 UTC,purchase,1801881,2053013554415534427,electronics.video.tv,samsung,488.80,557746614,4d76d6d3-fff5-4880-8327-e9e57b618e0e
...,...,...,...,...,...,...,...,...,...
67501725,2019-11-30 23:58:14 UTC,purchase,1004874,2053013555631882655,electronics.smartphone,samsung,346.70,547804983,717566cf-ef93-4078-ba8f-169a3ac9f1a0
67501745,2019-11-30 23:58:22 UTC,purchase,1005130,2053013555631882655,electronics.smartphone,apple,1437.02,515582054,829c20b5-696e-4a8a-8a9f-171014a3ecbe
67501824,2019-11-30 23:58:57 UTC,purchase,1004767,2053013555631882655,electronics.smartphone,samsung,235.60,579876821,ca50e291-43f3-4ca2-9e13-20ee6b8b25f0
67501863,2019-11-30 23:59:15 UTC,purchase,3701309,2053013565983425517,appliances.environment.vacuum,polaris,89.32,543733099,a65116f4-ac53-4a41-ad68-6606788e674c
67501944,2019-11-30 23:59:44 UTC,purchase,26205399,2053013563693335403,NaN,NaN,179.16,553345124,58c692ff-c7a9-4e35-9ec4-58598f1940e0

In [17]:
top_brands = purchases.groupby('brand')['price'].sum()
top_brands = top_brands.sort_values(ascending= False)
top_brands = top_brands[:60]

In [18]:
top_brands.keys()

Index(['apple', 'samsung', 'xiaomi', 'lg', 'huawei', 'sony', 'lucente', 'oppo',
       'acer', 'lenovo', 'bosch', 'asus', 'artel', 'hp', 'indesit', 'haier',
       'beko', 'dauscher', 'cordiant', 'philips', 'midea', 'vivo', 'canon',
       'janome', 'tefal', 'nokian', 'pulser', 'starline', 'respect', 'kivi',
       'hansa', 'redmond', 'karcher', 'oneplus', 'sv', 'epson', 'tcl',
       'navien', 'sokolov', 'casio', 'atlant', 'brw', 'yamaha', 'meizu',
       'stels', 'arg', 'thomas', 'msi', 'viatti', 'yokohama', 'ariston',
       'braun', 'triangle', 'vitek', 'nokia', 'delonghi', 'electrolux', 'bts',
       'force', 'huter'],
      dtype='object', name='brand')

In [19]:
novdf = df_nov[df_nov.brand.isin(top_brands.keys())]
novdf.shape

(38691224, 9)

In [20]:
novdf.isnull().sum()

event_time             0
event_type             0
product_id             0
category_id            0
category_code    6778735
brand                  0
price                  0
user_id                0
user_session           4
dtype: int64

In [21]:
novdf.groupby('brand')['price'].sum()

brand
acer          4.389234e+08
apple         5.171552e+09
arg           1.455806e+07
ariston       1.509168e+07
artel         1.178898e+08
asus          2.915952e+08
atlant        3.926063e+07
beko          7.601834e+07
bosch         2.698454e+08
braun         2.192310e+07
brw           8.250913e+07
bts           4.815225e+07
canon         6.827892e+07
casio         4.938243e+07
cordiant      3.123747e+07
dauscher      9.686998e+07
delonghi      3.177416e+07
electrolux    5.007122e+07
epson         2.684737e+07
force         2.394182e+07
haier         9.050695e+07
hansa         5.272588e+07
hp            2.542012e+08
huawei        3.722279e+08
huter         2.581579e+07
indesit       1.120880e+08
janome        5.519420e+07
karcher       4.686635e+07
kivi          2.317747e+07
lenovo        4.075058e+08
lg            5.161430e+08
lucente       2.864295e+08
meizu         3.174386e+07
midea         5.983687e+07
msi           5.925307e+07
navien        1.889516e+07
nokia         3.088677e+07
nokian        2.220727e+07
oneplus       7.627174e+07
oppo          2.435520e+08
philips       7.717041e+07
pulser        9.948857e+07
redmond       3.836162e+07
respect       6.159722e+07
samsung       2.809490e+09
sokolov       4.601074e+07
sony          3.528031e+08
starline      3.245871e+07
stels         2.331749e+07
sv            8.051890e+07
tcl           2.519243e+07
tefal         4.526363e+07
thomas        2.763908e+07
triangle      1.022931e+07
viatti        1.122088e+07
vitek         1.926200e+07
vivo          5.085913e+07
xiaomi        9.450350e+08
yamaha        3.343412e+07
yokohama      1.198589e+07
Name: price, dtype: float64

In [22]:
df_nov1 = novdf

In [23]:
def fast_mode(df, key_cols, value_col):

    return (df.groupby(key_cols + [value_col]).size() 
                  .to_frame('counts').reset_index() 
                  .sort_values('counts', ascending=False) 
                  .drop_duplicates(subset=key_cols)).drop(columns='counts')

In [24]:
df_nov1.loc[df_nov1.category_code.isnull(), 'category_code'] = df_nov1.brand.map(fast_mode(df_nov1, ['brand'], 'category_code').set_index('brand').category_code)

C:\Users\nikhi\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [25]:
df_nov1.isnull().sum()

event_time             0
event_type             0
product_id             0
category_id            0
category_code    2988541
brand                  0
price                  0
user_id                0
user_session           4
dtype: int64

In [26]:
df_nov1 = df_nov1.dropna(subset=['user_session', 'category_code'], how='any')

In [27]:
df_nov1.shape

(35702679, 9)

In [28]:
df_nov1.isna().sum()

event_time       0
event_type       0
product_id       0
category_id      0
category_code    0
brand            0
price            0
user_id          0
user_session     0
dtype: int64

In [ ]:
#Remove rows where both the columns are NA
#df_oct1 = df_oct.dropna(subset=['brand', 'category_code'], how='all')
#df.dropna(subset=['EPS'], how='all', inplace=True)

In [22]:
#Remove before saving 
#df_oct2 = df_oct1.iloc[:20000000, :]

In [23]:
#df_oct2.head()

In [29]:
df_nov1.to_csv('2019_Nov_Sales.csv')